<form nz-form [formGroup]="crudForm" (ngSubmit)="createOrUpdate()">
    <app-form-general [parentForm]="crudForm" [pageName]="pageName" [crudOps]="crudOps"
                      [object]="object"></app-form-general>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input controlName="commonName" formControlName="commonName"
                            [controlDesc]="controlDesc.code"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input controlName="organization" formControlName="organization"
                            [controlDesc]="controlDesc.code"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input controlName="organizationalUnit" formControlName="organizationalUnit"
                            [controlDesc]="controlDesc.code"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input controlName="locality" formControlName="locality"
                            [controlDesc]="controlDesc.code"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input controlName="state" formControlName="state"
                            [controlDesc]="controlDesc.code"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input controlName="country" formControlName="country"
                            [controlDesc]="controlDesc.code"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-email controlName="email" formControlName="email"
                            [controlDesc]="controlDesc.email"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input controlName="validityYears" formControlName="validityYears"
                            [controlDesc]="controlDesc.numeric"
                            [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-password controlName="unitPrivateKeyPassword" formControlName="unitPrivateKeyPassword"
                               [controlDesc]="controlDesc.password"
                               [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
    </div>
    <app-form-audit [object]="object" [crudOps]="crudOps"></app-form-audit>
    <app-form-submit-buttons [crudOps]="crudOps" [crudForm]="crudForm"></app-form-submit-buttons>
</form>
