<form nz-form [formGroup]="crudForm" (ngSubmit)="createOrUpdate()">
    <app-form-general [parentForm]="crudForm" [pageName]="pageName" [crudOps]="crudOps"
                      [object]="object"></app-form-general>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-input [controlDesc]="controlDesc.input" controlName="userId"
                            [pageName]="pageName" [crudOps]="crudOps" formControlName="userId"/>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-phone [controlDesc]="controlDesc.phone" controlName="mobileNumber"
                            [parentForm]="crudForm" (countryCodeChange)="crudForm.get('countryCode')?.setValue($event)"
                            [pageName]="pageName" [crudOps]="crudOps" formControlName="mobileNumber"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-email [controlDesc]="controlDesc.email" controlName="email"
                            [pageName]="pageName" [crudOps]="crudOps" formControlName="email"/>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-select-one formControlName="roleId" controlName="roleId"
                                 [controlOptions]="roleIdNameMap"
                                 [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
    </div>
    <app-form-audit [object]="object" [crudOps]="crudOps"></app-form-audit>
    <app-form-submit-buttons [crudOps]="crudOps" [crudForm]="crudForm"></app-form-submit-buttons>
</form>
