<app-module-index [acRoute]="activatedRoute" [addButtonDisplay]="false" [listButtonDisplay]="false"></app-module-index>
<div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-content>
            <form nz-form [formGroup]="crudForm" (ngSubmit)="customCreateOrUpdate()">
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                        <app-form-password [controlDesc]="controlDesc.password" controlName="password"
                                           [pageName]="pageName" [crudOps]="crudOps" formControlName="password"/>
                    </div>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
                        <app-form-password [controlDesc]="controlDesc.password" controlName="confirmPassword"
                                           [pageName]="pageName" [crudOps]="crudOps" formControlName="confirmPassword"/>
                    </div>
                </div>
                <app-form-submit-buttons [crudOps]="crudOps" [crudForm]="crudForm"
                                         [backButtonDisplay]="false"></app-form-submit-buttons>
            </form>
            <nz-divider></nz-divider>
        </nz-page-header-content>
    </nz-page-header>
</div>
