<div class="container-fluid h-100">
    <div class="d-flex h-100 p-v-15 flex-column justify-content-between">
        <div class="d-none d-md-flex p-h-40">
            <img src="assets/images/logo/logo.png" alt="">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <nz-card>
                        <h2 class="m-t-20">{{ 'app.page.login.sign-in' | translate }}</h2>
                        <p class="m-b-30">{{ 'app.page.login.sign-in-desc' | translate }}</p>
                        <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="login-form"
                              (ngSubmit)="submitForm()">
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="unitCode">{{ 'app.page.login.unitCode' | translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{ 'app.page.login.unitCode-hint' | translate }}">
                                    <nz-input-group [nzPrefix]="prefixBank">
                                        <input type="text" nz-input formControlName="unitCode"
                                               placeholder="{{ 'app.page.login.unitCode' | translate }}">
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="userId">{{ 'app.page.login.username' | translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{ 'app.page.login.username-hint' | translate }}">
                                    <nz-input-group [nzPrefix]="prefixUser">
                                        <input type="text" nz-input formControlName="userId"
                                               placeholder="{{ 'app.page.login.username' | translate }}">
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item class="relative">
                                <nz-form-label nzRequired nzFor="password">{{ 'app.page.login.password' | translate }}
                                </nz-form-label>
                                <a class="font-size-13 p-t-10 text-muted" style="position:absolute; right: 0"
                                   (click)="forgotPassword()">{{ 'app.page.login.forgot-password' | translate }}</a>
                                <nz-form-control nzErrorTip="{{ 'app.page.login.password-hint' | translate }}">
                                    <nz-input-group [nzPrefix]="prefixLock">
                                        <input type="password" nz-input formControlName="password"
                                               placeholder="{{ 'app.page.login.password' | translate }}">
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span *ngIf="isSignup"
                                              class="font-size-13 text-muted">{{ 'app.page.login.sign-up-hint' | translate }}
                                            <a class="small"
                                               [routerLink]="['/authentication/sign-up']">{{ 'app.page.login.sign-up' | translate }}</a>
                                        </span>
                                        <button nz-button class="login-form-button" [nzType]="'primary'">
                                            {{ 'app.page.login.sign-in' | translate }}
                                        </button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                        <ng-template #prefixBank><i nz-icon nzType="bank"></i></ng-template>
                        <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                        <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                    </nz-card>
                </div>
                <div class="offset-md-1 col-md-6 d-none d-md-block">
                    <img class="img-fluid" src="assets/images/others/login-2.png" alt="">
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex  p-h-40 justify-content-between">
            <span class="">© {{ 'app.rights' | translate }}</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">{{ 'app.year' | translate }}</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">{{ 'app.version' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
