<ng-template [ngIf]="crudOps === permissions.view">
    <nz-divider></nz-divider>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <nz-form-item class="form-field-row">
                <nz-form-label class="form-field-label">{{ 'app.general.audit.createdAt' | translate }}</nz-form-label>
                <nz-form-control class="form-field-control">
                    <span>{{ object?.createdAt }}</span>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <nz-form-item class="form-field-row">
                <nz-form-label class="form-field-label">{{ 'app.general.audit.createdBy' | translate }}</nz-form-label>
                <nz-form-control class="form-field-control">
                    <span>{{ object?.createdBy }}</span>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <nz-form-item class="form-field-row">
                <nz-form-label class="form-field-label">{{ 'app.general.audit.modifiedAt' | translate }}</nz-form-label>
                <nz-form-control class="form-field-control">
                    <span>{{ object?.modifiedAt }}</span>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <nz-form-item class="form-field-row">
                <nz-form-label class="form-field-label">{{ 'app.general.audit.modifiedBy' | translate }}</nz-form-label>
                <nz-form-control class="form-field-control">
                    <span>{{ object?.modifiedBy }}</span>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</ng-template>
