<nz-table nzShowSizeChanger nzSize="default" nzPaginationType="small" [nzFrontPagination]="false" [nzNoResult]="nodata"
          [nzPageSizeOptions]=[10,20,30] [nzData]="paginationDto.result" [nzLoading]="paginationDto.loading"
          [nzTotal]="paginationDto.total" [nzPageSize]="paginationDto.pageSize" [nzPageIndex]="paginationDto.pageIndex"
          (nzQueryParams)="onQueryParamsChanged($event)">
    <thead>
    <tr>
        <th style="width: 10%" nzColumnKey="status" [nzEllipsis]="true" [nzSortFn]="true">
            {{ 'app.general.pagination.status' | translate }}
        </th>
        <th style="width: 20%" nzColumnKey="id" [nzEllipsis]="true" [nzSortFn]="true">
            {{ 'app.general.pagination.id' | translate }}
        </th>
        <th nzColumnKey="name" [nzEllipsis]="true" [nzSortFn]="true">
            {{ 'app.general.pagination.name' | translate }}
        </th>
        <th nzColumnKey="description" [nzEllipsis]="true" [nzSortFn]="true">
            {{ 'app.general.pagination.description' | translate }}
        </th>
        <th [nzEllipsis]="true" [nzRight]="true">{{ 'app.general.pagination.options' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let page of paginationDto.result">
        <td>
            <a *ngIf="page.status" nz-popconfirm nzPopconfirmPlacement="bottom"
               nzPopconfirmTitle="{{'app.general.popup.statusPopUp' | translate}}"
               nzOkText="{{'app.general.button.yes' | translate}}"
               nzCancelText="{{'app.general.button.no' | translate}}"
               (nzOnConfirm)="changeStatus(page.id, false)">
                <nz-tag [nzColor]="'#87d068'">
                    <i nz-icon nzType="check-circle"></i>&nbsp;&nbsp;
                    {{ 'app.general.status.active' | translate }}
                    &nbsp;
                </nz-tag>
            </a>
            <a *ngIf="!page.status" nz-popconfirm nzPopconfirmPlacement="bottom"
               nzPopconfirmTitle="{{'app.general.popup.statusPopUp' | translate}}"
               nzOkText="{{'app.general.button.yes' | translate}}"
               nzCancelText="{{'app.general.button.no' | translate}}"
               (nzOnConfirm)="changeStatus(page.id, true)">
                <nz-tag [nzColor]="'#f50'" *ngIf="!page.status">
                    <i nz-icon nzType="close-circle"></i>
                    {{ 'app.general.status.inactive' | translate }}
                </nz-tag>
            </a>
        </td>
        <td [nzEllipsis]="true">
            {{ page.id }}
        </td>
        <td [nzEllipsis]="true">{{ page.name }}</td>
        <td [nzEllipsis]="true">{{ page.description }}</td>
        <td [nzRight]="true">
            <nz-space>
                <ng-container *ngIf="resendPasswordMailOption && sessionPermissions.includes(permissions.list)">
                    <a *nzSpaceItem nz-tooltip
                       nzTooltipTitle="{{'app.general.button.resend-password-email' | translate}}"
                       nz-popconfirm nzPopconfirmTitle="{{'app.general.button.resend-password-email' | translate}}"
                       nzPopconfirmPlacement="bottom" nzOkText="{{'app.general.button.yes' | translate}}"
                       nzCancelText="{{'app.general.button.no' | translate}}"
                       (nzOnConfirm)="resendPasswordMail(page.id)">
                        <i nz-icon nzType="mail" nzTheme="twotone" nzTwotoneColor="#3F87F5"></i>
                    </a>
                </ng-container>
                <ng-container *ngIf="signUpMailOption && sessionPermissions.includes(permissions.list)">
                    <a *nzSpaceItem nz-tooltip
                       nzTooltipTitle="{{'app.general.button.sign-up-email' | translate}}"
                       nz-popconfirm nzPopconfirmTitle="{{'app.general.button.sign-up-email' | translate}}"
                       nzPopconfirmPlacement="bottom" nzOkText="{{'app.general.button.yes' | translate}}"
                       nzCancelText="{{'app.general.button.no' | translate}}"
                       (nzOnConfirm)="signUpMail(page.id)">
                        <i nz-icon nzType="mail" nzTheme="twotone" nzTwotoneColor="#3F87F5"></i>
                    </a>
                </ng-container>
                <ng-container *ngIf="viewButtonDisplay && sessionPermissions.includes(permissions.view)">
                    <a *nzSpaceItem nz-tooltip nzTooltipTitle="{{'app.general.button.view' | translate}}"
                       routerLink="view/{{ page.id }}">
                        <i nz-icon nzType="security-scan" nzTheme="twotone" nzTwotoneColor="#3f87f5"></i>
                    </a>
                </ng-container>
                <ng-container *ngIf="editButtonDisplay && sessionPermissions.includes(permissions.edit)">
                    <a *nzSpaceItem nz-tooltip nzTooltipTitle="{{'app.general.button.edit' | translate}}"
                       routerLink="edit/{{ page.id }}">
                        <i nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="#856404"></i>
                    </a>
                </ng-container>
                <ng-container *ngIf="deleteButtonDisplay && sessionPermissions.includes(permissions.delete)">
                    <a *nzSpaceItem nz-tooltip nzTooltipTitle="{{'app.general.button.delete' | translate}}"
                       nz-popconfirm
                       nzPopconfirmTitle="{{'app.general.popup.deletePopUp' | translate}}"
                       nzPopconfirmPlacement="bottom"
                       nzOkText="{{'app.general.button.yes' | translate}}"
                       nzCancelText="{{'app.general.button.no' | translate}}"
                       (nzOnConfirm)="delete(page.id)">
                        <i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ff7875"></i>
                    </a>
                </ng-container>
            </nz-space>
        </td>
    </tr>
    </tbody>
</nz-table>
<ng-template #nodata>
    <nz-empty [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
        <ng-template #contentTpl>
            <span> {{ 'app.general.pagination.noData' | translate }} </span>
        </ng-template>
        <ng-template #footerTpl>
            <a *ngIf="addButtonDisplay && sessionPermissions.includes(permissions.add)" nz-button nzType="primary"
               nzSize="small"
               routerLink="add">
                <i nz-icon nzType="plus-circle"></i>{{ 'app.general.button.add' | translate }}
            </a>
        </ng-template>
    </nz-empty>
</ng-template>
