<form nz-form [formGroup]="crudForm" (ngSubmit)="createOrUpdate()">
    <app-form-general [parentForm]="crudForm" [pageName]="pageName" [crudOps]="crudOps"
                      [object]="object"></app-form-general>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-select-one formControlName="selectedMerchantId" controlName="selectedMerchantId"
                                 [controlOptions]="merchantIdNameMap"
                                 [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-select-one formControlName="selectedUnitOptionsId" controlName="selectedUnitOptionsId"
                                 [controlOptions]="unitOptionsIdNameMap"
                                 [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-select-one formControlName="selectedUnitKeyId" controlName="selectedUnitKeyId"
                                 [controlOptions]="unitKeyIdNameMap"
                                 [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <ng-container *ngIf="getInnerMap('currency') as currency">
                <app-form-select-many formControlName="currencyList" controlName="currencyList"
                                      [controlOptions]="currency"
                                      [pageName]="pageName" [crudOps]="crudOps"/>
            </ng-container>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <ng-container *ngIf="getInnerMap('action') as action">
                <app-form-select-many formControlName="actionList" controlName="actionList"
                                      [controlOptions]="action"
                                      [pageName]="pageName" [crudOps]="crudOps"/>
            </ng-container>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <ng-container *ngIf="getInnerMap('scheme') as scheme">
                <app-form-select-many formControlName="schemeList" controlName="schemeList"
                                      [controlOptions]="scheme"
                                      [pageName]="pageName" [crudOps]="crudOps"/>
            </ng-container>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <ng-container *ngIf="getInnerMap('engine') as engine">
                <app-form-select-many formControlName="engineList" controlName="engineList"
                                      [controlOptions]="engine"
                                      [pageName]="pageName" [crudOps]="crudOps"/>
            </ng-container>
        </div>
    </div>
    <app-form-audit [object]="object" [crudOps]="crudOps"></app-form-audit>
    <app-form-submit-buttons [crudOps]="crudOps" [crudForm]="crudForm"></app-form-submit-buttons>
</form>
